.divisions-container {
	font-size: 50px;
	text-align: center;
	font-style: italic;
}

.divisions-row {
	padding-top: 5%;
	padding-bottom: 5%;
}
.division-heading {
	justify-content: center;
	font-size: 100px;
}
.coordinator-image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.member-image {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}
.card {
	width: 100%;
	height: 400px;
	margin: 20px;
	border: none;
}

.card-img-top {
	border-radius: 2%;
}
.row {
	padding-right: 10px;
	padding-left: 10px;
}

.fa {
	font-size: 25px;
}
.fa-facebook {
	color: #4267B2;
}
.fa-linkedin {
	color: #0077B5;
}
.fa-github {
	color: #000000;
}
.checkout-text, .fa-chevron-right {
	color: #FFA500;
}

.division-info {
	color: #FFA500;
	font-size: 18px;
	font-family: 'Average', serif;
}
